parameters:
	ignoreErrors:
		-
			message: '#^Method Renttek\\WellKnown\\Block\\Adminhtml\\Content\\Edit\\BackButton\:\:getButtonData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Block/Adminhtml/Content/Edit/BackButton.php

		-
			message: '#^Method Renttek\\WellKnown\\Block\\Adminhtml\\Content\\Edit\\SaveButton\:\:getButtonData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Block/Adminhtml/Content/Edit/SaveButton.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Controller/Adminhtml/Content/Save.php

		-
			message: '#^Parameter \#1 \$type of static method Renttek\\WellKnown\\DTO\\Type\:\:fromString\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Adminhtml/Content/Save.php

		-
			message: '#^Parameter \#2 \$identifier of class Renttek\\WellKnown\\DTO\\Content constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Adminhtml/Content/Save.php

		-
			message: '#^Parameter \#4 \$content of class Renttek\\WellKnown\\DTO\\Content constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Adminhtml/Content/Save.php

		-
			message: '#^Casting to int something that''s already int\.$#'
			identifier: cast.useless
			count: 1
			path: src/Controller/Index/Index.php

		-
			message: '#^Parameter \#2 \$area of method Magento\\Framework\\App\\Router\\ActionList\:\:get\(\) expects string, null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Router.php

		-
			message: '#^Return type \(Magento\\Framework\\App\\ActionInterface\|null\) of method Renttek\\WellKnown\\Controller\\Router\:\:match\(\) should be covariant with return type \(Magento\\Framework\\App\\ActionInterface\) of method Magento\\Framework\\App\\RouterInterface\:\:match\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Controller/Router.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/DTO/Content.php

		-
			message: '#^Method Renttek\\WellKnown\\DTO\\Content\:\:fromArrayOrNull\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/DTO/Content.php

		-
			message: '#^Method Renttek\\WellKnown\\Model\\DataProvider\\ContentDataProvider\:\:__construct\(\) has parameter \$data with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Model/DataProvider/ContentDataProvider.php

		-
			message: '#^Method Renttek\\WellKnown\\Model\\DataProvider\\ContentDataProvider\:\:__construct\(\) has parameter \$meta with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Model/DataProvider/ContentDataProvider.php

		-
			message: '#^Method Renttek\\WellKnown\\Model\\DataProvider\\ContentDataProvider\:\:getData\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Model/DataProvider/ContentDataProvider.php

		-
			message: '#^Casting to int something that''s already int\.$#'
			identifier: cast.useless
			count: 5
			path: src/Service/StoreTree.php

		-
			message: '#^Method Renttek\\WellKnown\\Service\\StoreTree\:\:getFilteredTree\(\) should return list\<array\{name\: string, groups\: list\<array\{name\: string, stores\: list\<array\{id\: int, name\: string\}\>\}\>\}\> but returns list\<array\{name\: string, groups\: non\-empty\-array\<int\<0, max\>, array\{name\: string, stores\: non\-empty\-array\<int\<0, max\>, array\{id\: int, name\: string\}\>\}\>\}\>\.$#'
			identifier: return.type
			count: 1
			path: src/Service/StoreTree.php
